
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
  background-size: 52px;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav a:hover .nav-icon {
    fill: #000;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

/* Nav Icons */

.nav-icon {
  width: 15px;
  height: 13px;
  fill: #39ADD1;
}

#icon-location {
  width: 14px;
  height: 14px;
}

/* Logo SVG Styles */

#logo {
  width: 140px;
  height: 120px;
}

#logo .circle { fill:#BA8058; }
#logo .text   { fill:#EAAA7F; }
#logo .paw    { fill:#F4C6A6; }

/* Company Name */

.company-name {
  display: none;
  color: #EAAA7F;
}

/* Dogs */

.dogs {
  width: 170px;
  height: 170px;
}

.dogs .eyes,
.dogs .nose {
  fill:#2D3339;
}

.dogs .mouth{
  fill:#FBFEFF;
}

#corgi-red .fur {
  fill:#BA8058;
}

#corgi-red .eyebrows {
  fill:#EAAA7F;
}

#corgi-fawn .fur {
  fill:#EAAA7F;
}

#corgi-fawn .eyebrows {
  fill:#F4C6A6;
}

#corgi-sable .fur {
  fill:#844B24;
}

#corgi-sable .eyebrows {
  fill:#BA8058;
}

#corgi-blacktan .ears,
#corgi-blacktan .eyebrows {
  fill:#BA8058;
}

#corgi-blacktan .fur {
  fill: #52595F;
}

/* Responsive Styles */

@media (max-width: 420px) {
  .company-name {
    display: block;
  }

  #logo .text {
    display: none;
  }
}
