
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
  background-size: 52px;
}

.container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  }
  a:hover {
    color: #111;
  }

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav a,
  header nav a .nav-icon {
    transition: color 0.5s linear,
                fill 0.5s linear,
                transform 0.5s ease-out;
  }
  header nav a .nav-icon {
    transform-origin: bottom center;
  }
  header nav a:hover .nav-icon {
    fill: #000;
    transform: rotate(360deg);
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  header h1 {
    line-height: 1em;
  }

main {
  padding-top: 50px;
}
  main h2 {
  font-size: 28px;
}
  main ul {
    padding: 0;
  }
    main li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
    }
      main li img {
        margin-bottom: 15px;
      }
      main li span {
        margin-left: -40px;
      }
      main li:last-child {
        margin-right: 0;
      }

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

.nav-icon {
  width: 15px;
  height: 13px;
  fill: #39add1;
}

.icon-location {
  width: 14px;
  height: 14px;
}

.logo {
  width: 140px;
  height: 120px;
}

.company-name {
  display: none;
  color: #eaaa7f;
}

.dogs {
  width: 170px;
  height: 170px;
}

.dogs .eyes,
.dogs .nose {
  fill: #2d3339;
}

.dogs .mouth{
  fill:#fbfeff;
}

.logo .text,
.corgi-fawn .fur,
.corgi-red .eyebrows {
  fill: #eaaa7f;
}

.logo .paw,
.corgi-fawn .eyebrows {
  fill: #f4c6a6;
}

.corgi-sable .fur {
  fill: #844b24;
}

.logo .circle,
.corgi-red .fur,
.corgi-blacktan .ears,
.corgi-blacktan .eyebrows,
.corgi-sable .eyebrows {
  fill: #ba8058;
}

.corgi-blacktan .fur {
  fill: #52595f;
}

/* Responsive Styles */

@media (max-width: 420px) {
  .company-name {
    display: block;
  }

  .logo .text {
    display: none;
  }
}
